@import "./font.css";

:root {
  font-family: IRANSans, "Courier New", Courier, monospace;
}

body {
  color: white;
  background: gray;
}

.rtl-grid {
  direction: rtl;
}

.ltr-grid {
  direction: ltr;
}
